/* Обнуление */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Manrope:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Обнуление */

:root {
  --black: #000;
  --grey: #2e2d2d;
  --white: #fff;
}
body {
  font-family: 'Manrope', sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: var(--black);
  border-radius: 9px;
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  height: 52px;
  max-width: 290px;
  font-weight: 700;
  padding: 11px 88px;
  justify-content: center;
  align-items: center;
  align-self: start;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: var(--grey);
}
.title {
  font-weight: 700;
  font-size: 55px;
}
/*header*/
.header {
  position: fixed;
  z-index: 9;
  min-width: 100%;
  margin: 0px 0px 30px 0px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
  border-bottom: 2px solid #edf3f9;
  &__logo {
    max-width: 200px;
    width: 100%;
    margin: 0px 40px 0px 0px;
    a {
      color: var(--black);
      font-family: 'Azeret Mono', monospace;
      font-weight: 700;
      font-size: 20px;
      font-size: 20px;
      letter-spacing: -3.6px;
    }
  }
  &__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0px 25px 0px 0px;
    }
  }
  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__contacts {
    display: flex;
    gap: 20px;
  }
  &__burger {
    display: none;
    position: relative;
    z-index: 999 !important;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    span {
      height: 2px;
      width: 100%;
      transform: scale(1);
      background-color: var(--black);
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: var(--black);
      transition: all 0.3s ease 0s;
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
    &.active {
      span {
        transform: scale(0);
      }
      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }
      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}
.menu__link {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  &.active {
    border-bottom: 1px solid var(--black);
  }
}
@media (max-width: 600px) {
  .header__menu .menu__list .menu__link {
    font-size: 30px;
  }
  .menu {
    align-items: center;
    &__img {
      margin-right: auto; /* Отодвигаем первый элемент влево */
    }
    &__burger {
      display: flex;
    }
    &__body {
      justify-content: start;
      display: none;
      flex-direction: column;
      position: fixed;
      z-index: 999;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      padding: 50px 40px;
      background-color: var(--white);
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li {
        margin-bottom: 40px;
      }
    }
  }
  .menu__contacts {
    margin-bottom: 100px;
  }
}
.hidden {
  display: none !important;
}
#menu__link-main.hidden {
  display: none !important;
}

.open {
  display: flex !important;
}

/*header*/

/*main*/
.main {
  margin: 100px 0px 0px 0px;
  flex: 1 1 auto;
  padding: 0px 10px;
}

.main-page {
  // .main-page__content

  &__content {
    max-width: 521px;
    text-align: justify;
    margin: 0 auto 10px auto;
    p {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 50px;
      :last-child {
        margin-bottom: 0px;
      }
    }
  }
}

/*main*/

/*services*/
.services-page {
  // .services-page__content

  &__content {
    max-width: 750px;
    margin: 0 auto;
  }

  // .services-page__title

  &__title {
    margin: 0px 0px 60px 0px;
  }

  // .services-page__list

  &__list {
    li {
      line-height: 27px;
      font-size: 20px;
      margin: 0px 0px 30px 0px;
      cursor: pointer;
      &.active {
        span {
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  &__button {
    margin: 50px 0px 30px 0px;
  }
}

.services-page {
  // .services-page__block

  &__block {
    max-width: 750px;
    padding: 30px;
    border-radius: 9px;
    border: 1px solid #000;
  }
}
.block {
  margin-top: 30px;
  transition: all ease 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  // .block__title

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }

  // .block__text

  &__text {
    margin: 30px 0px 0px 0px;
    p {
      margin: 0px 0px 30px 0px;
      line-height: 27px;
    }
  }

  // .block__button

  &__button {
  }
}
.block:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.close-button {
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.close-button::before,
.close-button::after {
  content: ''; /* Обязательное свойство для псевдоэлемента */
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  top: 20px;
  left: 20px;
  width: 40px; /* Ширина иконки */
  height: 2px; /* Толщина линии */
  background-color: var(--grey); /* Цвет иконки */
}
.close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover::before,
.close-button:hover::after {
  background-color: #868484; /* Изменение цвета при наведении */
}

.services-page__block.block.modal {
  position: fixed;
  z-index: 10;
  max-width: fit-content;
  width: 100% !important;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  margin: 0;
  border-radius: 0px;
  overflow: hidden;
  border: none;
}

/*services*/

/*agency*/
.agency-page {
  // .agency-page__content

  &__content {
    max-width: 521px;
    text-align: justify;
    margin: 0 auto 10px auto;
    p {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 50px;
      :last-child {
        margin-bottom: 0px;
      }
    }
  }

  // .agency-page__title

  &__title {
    margin-bottom: 50px;
  }

  // .agency-page__button

  &__button {
    margin-top: 50px;
  }
}

/*agency*/

/*people*/
.people-page {
  // .people-page__content

  &__content {
    max-width: 600px;
    text-align: justify;
    margin: 0 auto 10px auto;
    p {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 50px;
      :last-child {
        margin-bottom: 0px;
      }
    }
  }

  // .people-page__title

  &__title {
    margin: 50px 0px;
  }

  // .people-page__list

  &__list {
    padding-left: 30px;
    li {
      list-style-type: decimal;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
      :last-child {
        margin-bottom: 0px;
      }
    }
  }

  // .people-page__button

  &__button {
    margin-top: 50px;
  }
}
.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0px 0px 85% 0px;
  img {
    // filter: grayscale(100%); /* Изначально черно-белые */
    transition: filter 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // &:hover {
    //   filter: grayscale(0%);
    // }
  }
}
.gallery__item_medium {
  grid-column: span 1;
  grid-row: span 2;
}
.gallery__item_big {
  grid-column: span 2;
  grid-row: span 1;
}
.text {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery__item:hover .text {
  opacity: 1; /* При наведении текст становится видимым */
}
.gallery__item:active .text {
  opacity: 1;
}
@media (min-width: 1681px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .text {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 1479px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 1249px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 1249px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }
}
@media (max-width: 768px) {
  .gallery__items {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
  .text {
    font-size: 13px;
  }
}
/*people*/

/* Стили для модального окна */
.modal-container {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение */
  justify-content: center;
  align-items: center;
}

.modal {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  &__name {
    padding: 20px;
    border-radius: 9px;
    border: 3px solid var(--black);
  }
  &__email {
    padding: 20px;
    border-radius: 9px;
    border: 3px solid var(--black);
  }
  &__text {
    height: 200px; /* Высота поля в пикселях */
    resize: none;
    padding: 20px;
    border-radius: 9px;
    border: 3px solid var(--black);
  }
  &__submit {
    background-color: var(--black);
    border-radius: 9px;
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    height: 52px;
    width: 100%;
    font-weight: 700;
    padding: 11px 88px;
    justify-content: center;
    align-items: center;
    align-self: start;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.modal-close-button {
  cursor: pointer;
}

/* Стили для закрытия модального окна по кнопке */
.modal-close-button:hover {
  text-decoration: underline;
}
